body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    height: 100vh;
}

h1 {
    color: red;
}

#root {
    border-radius: 5px;
    border: solid black 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-card {
    border-radius: 5px;
    display: block;
    width: 300px;
    background-color: white;
    border: 1px solid #dfe1e6;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.aboutme {
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-picture-div {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid var(--primary-color) 4px;
    /*box-shadow: 0 0 10px grey;*/
    margin: 20px auto 10px auto;
    display: block;
    /*transform: scale(1);*/
    transition: all 800ms ease;
}

.profile-picture-div:hover {
    /*transform: scale(1.1);*/
    transition: all 800ms ease;
}

.profile-name {
    text-align: center;
    margin: 5px auto;
}

.profile-job {
    text-align: center;
    margin: 0;
}

.profile-place {
    text-align: center;
    color: #666;
    margin: 0;
}

.contact-list {
    display: inline-block;
    margin: 10px auto;
    padding-inline-start: 0;
}

.contact-element {
    padding: 0.5em;
    margin: 0 .5em;
    background-color: #f2f2f2;
    border: solid 3px var(--primary-color);
    transition: all 500ms ease;
    border-radius: 5px;
    color: blueviolet;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.contact-element:hover {
    background-color: var(--secondary-color);
    transition: all 500ms ease;
}

.contact-element:hover::before {
    content: attr(description);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(12px);
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.contact-element:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 8px solid transparent;
    border-bottom-color: var(--primary-color);
    transform: translateX(-50%) translateY(-50%) translateY(5px);
}

.contact-element:hover::before,
.contact-element:hover::after {
    opacity: 1;
}

.contact-element-logo {
    width: 1.5em;
    height: 1.5em;
}

.formation {
    border: 1px solid var(--primary-color);
}

.formation-title {
    text-align: left;
    margin: 15px 20px 10px 20px;
}

.school {
    text-align: left;
    margin: 10px 30px;
}

.schoologo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    display: inline-block;
    vertical-align: middle;
}

.schoolblabla {
    vertical-align: top;
    display: inline-block;
    margin: 0 10px;
    width: 176px;
    border: 1px solid var(--primary-color);
}

.schoolname {
    display: inline-block;
    margin: 0 10px 0 0;
}

.schooldate {
    display: inline-block;
    color: grey;
    font-size: 15px;
    margin: 0;
}